footer {
    grid-template-areas:
        'lup'
        'rup'
        'rdown';
 width: auto;  
 height: 30rem;   
}

* {
    overflow-x: hidden;
}

#navbar {
    padding-left: 0rem;
    gap: 0px;
    padding-bottom: 1rem;
}
.logo{
    margin: 0px;
    width: 100px;
}
#navbar{
    flex-direction: column;
}
.rightt{
    width: fit-content;
}
.navlist{
    overflow: hidden;
    width: 100%
}
.itema{
    padding: 0px;
}
#logodiv{
    overflow: hidden;
    width: 5rem;
}
#background {
    
    margin-top: 5rem;
}.Services {
    margin-top: 0;
}
article{
    padding: 1rem 2rem 2rem 5rem;
    margin-top: -2rem;
}
.brandingvid {
    width: 89%;
}
.footercont{
    visibility: hidden;
    position: absolute;
    width: 0px;
}
.fotpar {
    padding: 0;
    width: auto;
}
.fotheadd{
    margin: auto;
}
.logoss{
    gap: 1rem;
}